* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Individual sections */
.home-section {
    background:#0b0b0b;
    color:white;
}

.about-section {
    background:#242423;
    color:gainsboro;
}

.contact-section {
    background: #0b0b0b;
    color:gainsboro;

}