* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Individual sections */
.home-section {
    /* background:linear-gradient(#13527Dff,#4B82A9ff,#7CAAC2ff,#A0BCC8ff); */

    background-image:url('/images/Frame\ 1.png');

    /* filter:contrast(200%) brightness(100%); */
    /*background-image:
    linear-gradient(rgb(11, 11, 11) 15%, transparent),
    linear-gradient(rgba(11, 11, 11, 0.375) 45%, transparent),
    linear-gradient(0deg, rgba(255, 255, 255, 0.5), transparent 10%),*/
	/* background-image:linear-gradient(#13527Dff,#4B82A9ff,#7CAAC2ff,#A0BCC8ff),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");  */
}

.about-section {
    position: relative;
    background:#D7CFBC;
    color:gainsboro;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.contact-section {
    background: #242423;
    color:gainsboro;
}

/* home-section */

.portfolio {
    width: 100%;
    height: 15rem;

    display:flex;
    flex-direction: row;
    justify-content: space-between;

    overflow:hidden;
}

.portfolio h1 {
    width: 100%;    
    text-align: center;

    color: rgb(255, 255, 255, 0.5);
    /* color: #2C3E50; */
    font-family: monospace;
    font-size: 13rem;
    font-weight: 300;  
    text-transform: uppercase;
    
    cursor: default;
}

.footer_part {
    color:rgb(255, 255, 255, 0.7);
    font-family: monospace;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

/* about-section */
.fence-top {
    width: 100%;
    height: 10vh;
    top: 0;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 0 5rem rgb(0,0,0,0.2);
    z-index: 3;
}

.fence-part-top {
    width: 100%;
    height: 5vh;
    background-color: #FFF8E5;    
}

.fence-part-bot-group {
    width: 100%;
    height: 5vh; 
    display:flex;
}

.fence-part-bot {
    width: 50%;
    height: 100%;
    background-color: #D7CFBC;
    
    display: flex;
    justify-content: space-between;
}

.splitter {
    width: 10rem;
    height: 10vh;
    margin-top: -5vh;
    margin-left: -2rem;
    background-color:rgb(0,0,0,0.1);
    clip-path: polygon(0% 100%, 0% 50%, 50% 0%, 54% 0%, 5% 50%, 5% 100% );
}

.last-splitter {
    margin-right: -8rem;
}

.fence-mid {
    width: 100%;
    height: 70vh;
    background-color:white;
    display: flex;
}

.fence-border {
    height: 70vh;
    width: 2%;
    background-color:#bdb5a4;

    box-shadow:
    inset 0 3.5rem 0 rgb(0,0,0,0.2),
    inset -5px 0 0 rgb(0,0,0,0.1),
    2rem 0 0 rgb(0,0,0,0.1);

    z-index: 3;
}
.fence-center {
    height: 70vh;
    width: 46%;
    background-color:green;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    z-index: 1;
}

.square {
    position: relative;
    width:100%;
    height:100%;
    background:#FFF8E5;
}

.bot-trap {
    width: 100% ;
    height: 100%;
    position: absolute;
    bottom: -34%;
    background-color:rgb(0,0,0,0.1);
    clip-path: polygon(34% 0%, 66% 0%, 100% 66%, 0% 66%);
}
.top-trap {
    width: 100% ;
    height: 100%;
    position: absolute;
    background-color:rgb(0,0,0,0.05);
    clip-path: polygon(0% 0%, 100% 0%, 66% 34%, 34% 34%);
}
.r-tri {
    width: 100% ;
    height: 100%;
    position: absolute;
    background-color:rgb(0,0,0,0.2);
    clip-path: polygon(100% 0%, 100% 100%, 66% 34%);
}

.fence-bot {
    width: 100%;
    height: 100%;
    margin-top: -0.3%;

    display: flex;
    z-index: 2;
}

.fence-bot-part {
    width:50%;
    height: 100%;
    background-image:linear-gradient(rgb(0,0,0,0.02)5%, transparent 5%),
    linear-gradient(#D7CFBC 15%, #bdb5a4 15%);

    display: flex;
    justify-content: space-between;
}

.bot-splitter {
    width: 10rem;
    height: 100%;
    margin-left: -2.1rem;
    background-color:rgb(0,0,0,0.1);
    clip-path: polygon(0% 100%, 0% 15%, 20% 0%, 25% 0%, 5% 15%, 5% 100% );
}
